.open-courses {
    background-color: #ffd4d4;
    padding: 50px 0 60px;
    
}

.price {
  right: -1px;
  padding: 5px 10px;
  /* position: absolute; */
  top: -1px;
  border-left: 3px solid #F2184F;
  background: #020d2f;
  color: white;
  font-size: 15px;
}
.open-courses .open-courses-info {
    background-color: #fff;
    padding: 25px;
   
    transition: 0.5s;
    -webkit-transition: 0.5s;
    margin-bottom: 30px;
    /* border: 1px dashed #687b6f; */
    position: relative;
    border-radius: 5px;
   
    /* background-color: rgba(0, 0, 0, 0.5); */
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 1;
    overflow: hidden;
    opacity: 1;

   
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
.open-courses .open-courses-info span
{
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;
    display: flex;
}
.open-courses .open-courses-info h3
{
    margin-bottom: 15px;
    text-align: center;
}

.open-courses .open-courses-info button {
   
	display: flex;
	background: none center center no-repeat;
	background-size: cover;
	text-transform: uppercase;
	letter-spacing: .5px;
    padding: 10px 4px;
    text-align: center;
    max-width: 180px;
    min-width: 170px;
	cursor: pointer;
    border-radius: 4px;
	
	-webkit-transition: border 1s cubic-bezier(0.19,1,.22,1),color .6s cubic-bezier(0.19,1,.22,1);
	transition: border 1s cubic-bezier(0.19,1,.22,1), color .6s cubic-bezier(0.19,1,.22,1), 
    background 5s cubic-bezier(0.19,1,.22,1);
    justify-content: center;

}


.open-courses .open-courses-info::before {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
}


/* ------------------------------------
    22. CTA Section CSS
---------------------------------------*/
.rs-cta {
    position: relative;
  }
  .rs-cta .cta-img img {
    min-height: 425px;
    width: 100%;
  }
  .rs-cta .cta-content {
    position: absolute;
    width: 100%;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 
  
  
  .rs-cta.main-home .partition-bg-wrap {
    background: none !important;
    position: relative;
 
  }
  .rs-cta.main-home .partition-bg-wrap:after,
  .rs-cta.main-home .partition-bg-wrap:before {
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    bottom: 0;
    z-index: -1;
  }
  .rs-cta.main-home .partition-bg-wrap:after {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
  }
  .rs-cta.main-home .partition-bg-wrap .details {
    /* background: url(../assets/images/main-home.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    right: 0;
    

 
    transition: 0.5s;
    -webkit-transition: 0.5s;
    
    /* border: 1px dashed #687b6f; */
    position: relative;
    border-radius: 5px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    transition: 0.5s;
    z-index: 1;
    overflow: hidden;
    opacity: 1;
  }
  
  .rs-cta.section-wrap .content-wrap {
    padding: 100px 100px 100px 105px;
    background: #273c66;
  }
  .rs-cta.section-wrap .content-wrap .text-part {
    padding-right: 400px;
  }
  .rs-cta.section-wrap .content-wrap .text-part .sub-title {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .rs-cta.section-wrap .content-wrap .text-part .title {
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 25px;
  }
  .rs-cta.section-wrap .content-wrap .text-part .desc {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 40px;
  }
  .rs-cta.section-wrap .content {
    max-width: 700px;
    padding-left: 90px;
    padding-right: 15px;
  }
  
  .rs-cta.effects-layer .effects-bg .content-part {
    padding: 56px 244px 60px 50px;
  }
  .rs-cta.effects-layer .effects-bg .content-part .title {
    font-size: 24px;
    line-height: 40px;
    font-weight: 800;
    color: #101010;
    margin-bottom: 13px;
  }
  .pl-70 {
    padding-left: 70px;
}

.mb-40 {
    margin-bottom: 40px;
}
.bussec-title3 {
  
    padding-left: 10px;
    padding-right: 0px;
   
}
.btn-part {
    padding: 10px;
}
.bussec-title3 .sub-title {
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #ff5421;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .bussec-title3 .sub-title.yellow-color {
    color: #f4bf00;
  }
  .bussec-title3 .sub-title.green-color {
    color: #0c8b51;
  }
  .bussec-title3 .sub-title.no-big {
    text-transform: capitalize;
    color: #ffffff;
    letter-spacing: 3px;
  }
  .bussec-title3 .sub-title.big {
    font-size: 18px  !important;
    color: #f4bf00 !important;
    font-weight: 500;
  }
  .bussec-title3 .title {
    font-size: 36px;
    line-height: 46px;
    font-weight: 800;
    color: #031a3d;
  }
  .bussec-title3 .title.white-color {
    color: #000;
  }
  .bussec-title3 .title.black-color {
    color: #101010;
  }
  .bussec-title3 .title.new-title {
    color: #101010;
    line-height: 1.2;
    font-weight: 700;
  }
  .bussec-title3 .title.title2 {
    font-size: 42px;
    line-height: 55px;
    font-weight: 700;
    color: #ffffff;
  }
  .bussec-title3 .title.title3 {
    font-size: 42px;
    line-height: 55px;
    font-weight: 800;
    color: #ffffff;
  }
  .bussec-title3 .desc {
    font-size: 16px;
    line-height: 26px;
    color: #363636;
  }
  .bussec-title3 .desc.white-color {
    color: #000;
  }
  .bussec-title3 .new-desc {
    font-size: 18px;
    line-height: 31px;
    color: #333333;
  }
  
  
  .readon.orange-btn {
    color: #ffffff;
    background: #ff5421;
    border-color: #ff5421;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    padding: 12px 35px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
