.center-wrap button {
	color: #fff;
	text-decoration: none;
	font-size: 15px!important;
	font-weight: 500;
	background: transparent;
	border: transparent;
}

.custom-select{
	width: 70%;
}
.address-area .address p{
	color:black
}
.address-area .address span {
	color: black;
}