.navbar-toggler .navbar-toggler .collapsed {
    color: white !important;
    background-color: white  !important;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: white  !important;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55) !important;
    border-color: rgba(0,0,0,.1) !important;
    background-color: white  !important;
}

