.our-team {
    background-color: #2c3b76;
    padding: 120px;
}

.our-team p {
    color: white;
}

.our-team h3 {
    color: rgb(255, 255, 255) !important;
}

.our-team .post {
    color: rgb(255, 255, 255) !important;
}


.our-team .title {
    color: rgb(255, 255, 255) !important;
}




